export( "correlation.systemfit" )
export( "createSystemfitModel" )
export( "hausman.systemfit" )
export( "nlsystemfit" )
export( "se.ratio.systemfit" )
export( "systemfit" )
export( "systemfit.control" )

import( "Matrix" )
importFrom( "car", "linear.hypothesis" )
importFrom( "car", "linearHypothesis" )
importFrom( "lmtest", "lrtest" )
importFrom( "sandwich", "bread" )
importFrom( "sandwich", "estfun" )
importFrom( "stats", "nobs" )

S3method( "bread", "systemfit" )
S3method( "coef", "systemfit" )
S3method( "coef", "systemfit.equation" )
S3method( "coef", "summary.systemfit" )
S3method( "coef", "summary.systemfit.equation" )
S3method( "confint", "systemfit" )
S3method( "confint", "systemfit.equation" )
S3method( "estfun", "systemfit" )
S3method( "fitted", "systemfit" )
S3method( "fitted", "systemfit.equation" )
S3method( "formula", "systemfit" )
S3method( "formula", "systemfit.equation" )
S3method( "linear.hypothesis", "systemfit" )
S3method( "linearHypothesis", "systemfit" )
S3method( "logLik", "systemfit" )
S3method( "lrtest", "systemfit" )
S3method( "model.frame", "systemfit" )
S3method( "model.frame", "systemfit.equation" )
S3method( "model.matrix", "systemfit" )
S3method( "model.matrix", "systemfit.equation" )
S3method( "nobs", "systemfit" )
S3method( "predict", "systemfit" )
S3method( "predict", "systemfit.equation" )
S3method( "print", "confint.systemfit" )
S3method( "print", "systemfit" )
S3method( "print", "systemfit.equation" )
S3method( "print", "summary.systemfit" )
S3method( "print", "summary.systemfit.equation" )
S3method( "residuals", "systemfit" )
S3method( "residuals", "systemfit.equation" )
S3method( "summary", "systemfit" )
S3method( "summary", "systemfit.equation" )
S3method( "terms", "systemfit" )
S3method( "terms", "systemfit.equation" )
S3method( "vcov", "systemfit" )
S3method( "vcov", "systemfit.equation" )
